/* for tablet */
@media screen and (min-width:500px) {
    html{
        font-size: 50%;
    }
    
}
@media screen and (max-width:768px) {
    html{
        font-size: 45%;
    }
    
}
@media screen and (min-width:1000px) {
    html{
        font-size: 50%;
    }
    
}
@media screen and (min-width:500px) {
    html{
        /* font-size: 50%; */
    }
    
}
