/* for tablet */
@media screen and (max-width:1000px) {
    html{
        font-size: 50%;
    }
    
}
@media screen and (max-width:800px) {
    html{
        font-size: 40%;
    }
    .contact-form{
        width: 50%;
    }
    
}

/* @media screen and (max-width:500px) {
    html{
        font-size: 50%;
    }
    
} */
@media screen and (max-width:600px) {
    html{
        font-size: 50%;
    }
    .rs-dir-col,.ab-1,.contact-container{
        flex-direction: column;
    }
    .rs-100{
        width: 100%;
    }
    .white-card{
        padding: 3rem;
        margin: 2rem;
    }
    .w_75{
        width: 80vw;
    }
    .cr-img{
        height: 60vw;
    }
    
    .ab-2{
        flex-direction: column-reverse;
    }
    .ab-1 .about-content{
        margin: 0;
    }
    .ab-2 .about-content{
        margin: 0;
    }
    .expert-card{
        flex-basis: 50%;
    }

    .contact-form{
        padding: 1.8rem;
    }
    
}
